<header>
    <div id="logo">
        <img src="assets/logo.jpg" alt="logo">
    </div>
    <nav id="nav-bar">
        <a href="/" class="item">Quem Somos</a>
        <a href="/" class="item" id="green-text">Pesquisa</a>
        <a href="/" class="item">Membros</a>
        <a href="/" class="item" id="green-text">Publicações</a>
        <a href="/" class="item" >Prêmios</a>
        <a href="/" class="item" id="green-text">Trabalhe Conosco</a>
    </nav>  
    <div class="hamburger">
        <div></div>
        <div></div>
        <div></div>
    </div>
</header>