<header>
    <div id="logo">
        <img src="assets/logo.jpg" alt="logo">
    </div>
    <nav
        class="nav-bar"
        [class.active]="menuOpen"
        (click)="toggleMenu()"
    >
        <button class="hamburger"></button>

        <div class="nav-list">            
            <a href="/" class="item">Home</a>
            <a href="/" class="item" id="green-text">Research</a>
            <a href="/" class="item">Our Team</a>
            <a href="/" class="item" id="green-text">Publications</a>
            <a href="/" class="item">Awards</a>
            <a href="/" class="item" id="green-text">Join Us</a>
        </div>
    </nav>  
</header>