header {
    display: flex;
    max-width: 1200px;
    height: 200px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
}

.logo {
    max-width: 30%;
    padding-bottom: 5px;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.nav-bar {
    display: flex;
    gap: 20px;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.nav-list {
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 20px;
    position: relative;
    list-style: none;
}

.item {
    text-decoration: none;
    font-size: 2vw;
    color: #6A09A2;
}

.nav-list a:hover {
    text-decoration: underline;
}

#green-text {
    color: #52894D;
}

.hamburger {
    display: none;
    border: none;
    width: 30px;
    height: 3px;
    background: none;
    border-top: 3px solid black;
    cursor: pointer;
    padding: 0;
    position: relative;
    z-index: 100;
}

.hamburger::before,
.hamburger::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: black;
    margin-top: 5px;
}

@media(max-width: 650px) {
    .nav-bar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        transform: translateX(100%);
    }

    .nav-list {
        width: inherit;
        height: inherit;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        padding: 0;
    }

    .item {
        font-size: 22px;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active {
        border-top-color: transparent;
    }
    
    .hamburger.active::before {
        position: fixed;
        transform: rotate(135deg);
    }
    
    .hamburger.active::after {
        position: fixed;
        transform: rotate(-135deg);
    }

    .nav-bar.active {
        transform: translateX(0%);
    }
}