header {
    display: flex;
    max-width: 1200px;
    height: 200px;
    margin: auto;
    border-bottom: 2px solid black;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
}

.nav-bar {
    display: flex;
    gap: 20px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.nav-list {
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 20px;
    position: relative;
    z-index: 99;
}

.item {
    text-decoration: none;
    font-size: 2vw;
    color: #6A09A2;
}

.nav-list a:hover {
    text-decoration: underline;
}

#green-text {
    color: #52894D;
}

.hamburger {
    display: none;
    border: none;
    width: 30px;
    height: 3px;
    background: none;
    border-top: 3px solid black;
    cursor: pointer;
    padding: 0;
    position: relative;
    z-index: 100;
}

.hamburger::before,
.hamburger::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: black;
    margin-top: 5px;
}

@media(max-width: 650px) {
    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        background-color: white;
    }

    .item {
        font-size: 22px;
    }

    .hamburger {
        display: block;
    }

    .nav-bar.active .hamburger {
        border-top-color: transparent;
    }
    
    .nav-bar.active .hamburger::before {
        position: fixed;
        transform: rotate(135deg);
    }
    
    .nav-bar.active .hamburger::after {
        position: fixed;
        transform: rotate(-135deg);
    }

    .nav-bar.active .nav-list {
        transform: translateX(0%);
        pointer-events: none;
    }
}