<app-header />
    <main>
        <section>
            <form action="/login" method="post">
                <div class="login">
                    <label for="user">
                        <span class="txt">User:</span>
                        <input type="text" name="user" id="user">
                    </label>
                    <label for="password">
                        <span class="txt">Password:</span>
                        <input type="password" name="password" id="password">
                    </label>
                    <button type="submit">Login</button>
                </div>
            </form>
        </section>
    </main>
<app-footer />