<app-header />

<main>
    <section>
        <div class="section-container">
            <img src="assets/membros.png">

            <span>Our research group is committed to advancing precision oncology through cutting-edge immunotherapy. By integrating clinical insights with experimental research, we aim to identify biomarkers that predict treatment response and to uncover novel targets for therapeutic intervention.
We investigate a broad range of immunotherapeutic approaches, including immune checkpoint blockade and adoptive cell therapies such as CAR-T and tumor-infiltrating lymphocytes (TILs). Our mission is to enhance treatment precision—helping clinicians match the right therapy to the right patient, while also driving innovation to improve the therapies already in use.
Rooted in a multidisciplinary environment and closely linked to graduate education, our group fosters collaboration across basic, translational, and clinical research to shape the future of cancer care.
</span>
        </div>
    </section>    
    <aside>
        <div class="aside-container">
            <img src="assets/thiago.png">
            <h4>Tiago Medina, PhD</h4>
            <h5>Group Leader – Translational Immuno-Oncology
            Assistant Professor, Department of Molecular Medicine
            University of Southern Denmark – Odense, Denmark
            </h5>
            <span>📧medina&#64;health.sdu.dk</span>
            <a href="http://lattes.cnpq.br/1191348718336874"><span>📄 Lattes: http://lattes.cnpq.br/1191348718336874</span></a>
        </div>
    </aside>
</main>

<app-footer />